.borderRightClass {
    border-right: 1px solid #dce1e9;
  }
  .Title {
    font-size: 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  table {
    width: 100%;
    tr{
        height: 35px;
    }
    th {
         background: #9050a6;
         color: white;
        //font-family: Ubuntu;
        padding-left: 25px;
        border-right: 1px solid #e0e0e0;
    }
    td {
        padding-left: 15px;
        border-right: 1px solid #9050a6;
        padding: 5px;
    }
}