<div id="chat" class="page-layout carded fullwidth">
  <!-- <div class="top-bg accent"></div> -->

  <div class="center normal" style="margin-top: -27px !important;padding:32px 0px 1px !important;">
    <!-- <div style="height: 50px !important; margin-bottom: 2px !important;">
      <mat-card fxFlex="30" style="background-color: #fffdf9;border-radius: 5px 0px 0px 5px !important;">
        <div class="h2 mb-24" style="margin-top: -12px; margin-left: 88px;"><b>Adopter</b></div>
      </mat-card>
      <mat-card fxFlex="70" style="background-color: #fffdf9;border-radius:0px 5px 5px 0px!important;">
        <mat-icon (click)="ResetControl()">add</mat-icon>
      </mat-card>
    </div> -->
    <div fxLayout class="content-card1">
      <div fxFlex="30" class="side-bar">
        <mat-card class="cardHeader p-8">
          <div fxLayout fxFlex fxLayoutAlign="center" class="h2">
            <b>BOT List ({{AllBOTs?.length}})</b>
          </div>
        </mat-card>
        <div class="sidenav-header">
          <mat-toolbar >
            <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
              <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                  <mat-icon class="s-16">search</mat-icon>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <div class="sidenav-content pb-16" fusePerfectScrollbar fxFlex>
          <mat-card *ngFor="let ada of AllBOTs | filter: searchText" class="mx-8 my-4 p-8"
            [class.highLight]="SelectedBOTID==ada.botID" (click)="LoadSelectedBOTH(ada)">
            <div fxLayout fxLayoutAlign="space-between center">
              <div fxFlex>{{ada.Title}}</div>
              <div fxFlex fxLayoutAlign="end">{{ada.CreatedOn | date}}</div>
            </div>
            <div class="mb-4 mr-8 fontSize" style="--size: 12px;">
              <span>{{ada.Freq}}</span>
            </div>
            <div class="mb-4 mr-8 fontSize" style="--size: 12px;">
              <span class="boldClass" [class.errorClass]="ada.Status==='Retire'">{{ada.Status}}</span>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="borderRight1"></div>
      <div fxFlex="70" class="side-bar">
        <mat-card class="cardHeader p-8">
          <div fxLayout fxFlex class="h2" fxLayoutAlign="end">
            <button mat-stroked-button color="warn" (click)="ResetControl()">Add</button>
          </div>
        </mat-card>
        <div class="sidenav-content">
          <mat-card style="margin-top: 5px;height: 100%;">
            <div fxLayout fxLayoutAlign="center center" class="mt-24 mb-8 mx-16">
              <div class="alreadyCheckedRound">
                <img class="checkedClass" src="assets/images/checkMark.png">
              </div>
              <div fxFlex class="alreadyCompletedBg" style="height: 4px;"></div>
              <div class="checkedRound">
                <img class="checkedClass" src="assets/images/checkMark.png">
              </div>
              <div fxFlex class="upcomingLineBg" style="height: 4px;"></div>
              <div class="nonCheckedRound">
              </div>
            </div>
            <div fxLayout fxLayoutAlign="center center" class="mt-4 mb-24 mx-8">
              <div>Initiate</div>
              <div fxFlex></div>
              <div class="ml-20">Process</div>
              <div fxFlex></div>
              <div>Transform</div>
            </div>
            <div fxLayout class="my-4 mx-8">
              <form autocomplete="off" fxLayout="column" fxLayoutAlign="start" fxFlex name="form"
                [formGroup]="BOTCreationFormGroup" novalidate>
                <div fxLayout="row" fxLayoutAlign="start">
                  <mat-form-field class="pl-8" fxFlex>
                    <input matInput placeholder="Title" formControlName="Title"
                      [readonly]="SelectedBOT?.Status==='Retire'">
                    <mat-error *ngIf="BOTCreationFormGroup.get('Title').touched && 
                    BOTCreationFormGroup.get('Title').hasError('required')">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </form>
            </div>
            <div fxLayout class="my-8 mx-8">
              <div fxFlex="25" class="mat-elevation-z8" fxLayout>
                <div fxFlex="30" fxLayoutAlign="center" class="p-8 py-16">
                  <img class="sourceBorder p-8" src="assets/images/sourceDefinition.png">
                </div>
                <div fxFlex="58" fxLayoutAlign="start" class="p-8 py-16">
                  Source definition
                </div>
                <div fxFlex="12" fxLayoutAlign="end end">
                  <img class="sourceBg p-4 cursorPointer" [class.cursorNotAllowed]="SelectedBOT?.Status==='Retire'"
                    src="assets/images/add.png"
                    (click)="SelectedBOT?.Status==='Retire'?false:OpenSourceDefinitionDialog()">
                </div>
              </div>
              <div fxFlex="20" fxLayout fxLayoutAlign="center center">
                <div class="round11"></div>
                <div fxFlex class="lineBg" style="height: 1px;"></div>
                <div class="round11"></div>
              </div>
              <div fxFlex="10" class="mat-elevation-z8 borderRadius" fxLayout>
                <div fxFlex fxLayoutAlign="center">
                  <img class="p-4" src="assets/images/Robo.png">
                </div>
              </div>
              <div fxFlex="20" fxLayout fxLayoutAlign="center center">
                <div class="round11"></div>
                <div fxFlex class="lineBg" style="height: 1px;"></div>
                <div class="round11"></div>
              </div>
              <div fxFlex="25" class="mat-elevation-z8" fxLayout>
                <div fxFlex="30" fxLayoutAlign="center" class="p-8 py-16">
                  <img class="transformationBorder p-8" src="assets/images/transform.png">
                </div>
                <div fxFlex="58" fxLayoutAlign="start" class="p-8 py-16">
                  Transformation rule
                </div>
                <div fxFlex="12" fxLayoutAlign="end end">
                  <img class="transformationBg p-4 cursorPointer"
                    [class.cursorNotAllowed]="SelectedBOT?.Status==='Retire'" src="assets/images/add.png"
                    (click)="SelectedBOT?.Status==='Retire'?false:OpenTransformationRuleDialog()">
                </div>
              </div>
            </div>
            <div fxLayout fxLayoutAlign="center center" class="mt-4 mb-24 mx-8">
              <div fxFlex="25" fxLayoutAlign="center" class="boldClass">{{SelectedBOTView?.srcTitle}}</div>
              <div fxFlex="50"></div>
              <div fxFlex="25" fxLayoutAlign="center" class="boldClass">{{SelectedBOTView?.trfTitle}}</div>
            </div>
            <div fxLayout fxLayoutAlign="center center" class="mt-24 mb-8 mx-8">
              <div>
                <button mat-raised-button (click)="TestConnection()" [disabled]="SelectedBOT?.Status==='Retire'"
                  [ngClass]="SelectedBOT.Status?'completedBg':'inlineBg'">Test</button>
              </div>
              <div fxFlex [ngClass]="SelectedBOT.Status?'completedBg':'upcomingLineBg'" style="height: 4px;"></div>
              <div>
                <button mat-raised-button (click)="OpenScheduleDialog()"
                  [disabled]="!SelectedBOT?.Status || SelectedBOT?.Status==='Retire'"
                  [ngClass]="SelectedBOT.Status?SelectedBOT.Status==='Test'?'inlineBg':'completedBg':'upcomingBg'">Schedule</button>
              </div>
              <div fxFlex
                [ngClass]="SelectedBOT.Status?SelectedBOT.Status==='Test'?'upcomingLineBg':SelectedBOT.Status==='Schedule'?'upcomingLineBg':SelectedBOT.Status==='Run'?'completedBg':'upcomingLineBg':'upcomingLineBg'"
                style="height: 4px;"></div>
              <div>
                <button mat-stroked-button (click)="RunClicked()"
                  [disabled]="!SelectedBOT?.Status || SelectedBOT?.Status==='Retire'"
                  [ngClass]="SelectedBOT.Status?SelectedBOT.Status==='Test'?'upcomingBg':SelectedBOT.Status==='Schedule'?'inlineBg':SelectedBOT.Status==='Pause'?'inlineBg':SelectedBOT.Status==='Run'?'completedBg':'upcomingBg':'upcomingBg'">Run</button>
              </div>
            </div>
            <div fxLayout fxLayoutAlign="center center" class="mt-24 mb-8 mx-8">
              <div class="mx-20">
                <button mat-raised-button (click)="PauseClicked()"
                  [disabled]="!SelectedBOT?.Status || SelectedBOT?.Status==='Retire'" class="PauseBg">Pause</button>
              </div>
              <div class="mx-20">
                <button (click)="RetireClicked()" [disabled]="!SelectedBOT?.Status" mat-stroked-button
                  class="RetireBg">Retire</button>
              </div>
            </div>
          </mat-card>
        
        </div>
      </div>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>